/* THESE ARE THE STYLES FOR THE POST COMPONENT */
/* 
textarea {
    width: auto;
    min-height: auto;
} */

form {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

/* .text-input > textarea {
    width: 500px;
    height: 50px;
} */

/*HERE we can fuck with the input display !*/
input[type=textarea] {
    width: 150%;
    height: 250%;
    /* rows: 25; */
    columns: 250;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }